.test-header {
    display: flex;
    justify-content: space-between;

}

.question-section,
.test-timer,
.test-fio {
    /*width: 25%;*/
    padding: 15px;
    border: 2px solid cadetblue;
    border-radius: 10px;
}

.question-section {
    width: 50%;
    /*height: 400px;*/
    margin: auto;
    margin-bottom: 30px;
    padding: 5%;
}

.test-question {
    margin-bottom: 15px;
}

#name {
    width: 50%;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*vertical-align: middle;*/
    background-color: rgba(206, 235, 245, .3);
    border-radius: 10px;
    opacity: 0;
}

input[type="checkbox"] {
    white-space: pre;
}


