.test-header {
    display: flex;
    justify-content: space-between;
}

.question-section,
.test-timer,
.test-fio {
    margin-bottom: 5px;
    padding: 15px;
    border: 2px solid cadetblue;
    border-radius: 10px;
}

.question-section {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    padding: 5%;
}

.test-question {
    margin-bottom: 15px;
}

#name {
    width: 50%;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(206, 235, 245, .3);
    border-radius: 10px;
    opacity: 0;
}

input[type="checkbox"] {
    white-space: pre;
}

@media (max-width : 768px ) {

    .test-fio {
        display: none;
    }
    .test-timer {
        margin: auto;
        margin-bottom: 5px;
    }
}


